# Build
bin/
obj/
out/
*.exe
*.dll
*.app
*.pdb

# NuGet
/packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Rider
.idea/
*.sln.iml
*.user
riderModule.iml
_ReSharper.*

# Logs
*.log

# User secrets
secrets.json

# OS/macOS
.DS_Store
Thumbs.db

# Config
Config/TelegramConfig.json